<div class="container">
  <h1 class="text-center text-info py-5 "   >Movies Trending</h1>
    <div class="row">
        <div *ngFor="let f of movies" class="col-md-4">
            <a [routerLink]="['/all', f.id]" >
            <div class="item">
              <div class="img position-relative ">
              <img [src]="prefix+f.poster_path" alt="" class="img-fluid" >
              <div class="overlay text-center pt-3 text-white position-absolute ">
                <h2>{{f.title}}</h2>
                <p>{{f.overview}}</p>
                <h3>{{f.vote_average}}</h3>
                <span>{{f.release_date}}</span>
              </div>
            </div>
              
            </div>
            </a>
          </div>
    </div>


    
</div>